*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-color: rgb(185, 244, 117);
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.vinkzon-home{
    height: 36px;
    width: 53px;
}
.logo-container{
    margin-left: 4%;
}
.action-bar{
    margin-right: 4%;
}
.nav-bar{
    display: flex;
    min-width:400px;
    min-height:10px;
    justify-content:space-between;
}
main{
    margin: 0px;
    padding: 0px;
}

footer{
    background-color: aquamarine;
}